.css-input {
    width: 100%;
    padding: 16px;
    font-size: 16px;
    border-width: 0px;
    border-color: #ffffff;
    background-color: #F3EFF3;
    color: #0F2554;
    border-style: solid;
    border-radius: 4px;
    box-shadow: 0px 0px 0px rgba(66,66,66,.1);
    text-shadow: -50px 0px 0px rgba(66,66,66,.0);
}
.css-input:focus {
    outline:none;
}