<div class='navbar'>
    <div class="bar">
        <div class="logo-con"><img class="logo" [height]="imgHeight" [src]='img'/></div>
        <div class="button-con">
            <app-button [showBtn]="showBtn"  routerLink="form" text="Are you entitled?"></app-button>
            <div class="light-font">Have you been mis-sold?</div>
        </div>
    <div class="light-font">FAQs</div>
        <div class="bold-font">Sign In</div>
        <div class="purple-font">Call us on 0151 1213 456</div>
    </div>
</div>
