<div class="form" >
<app-navbar img='assets/icons/claim.png' imgHeight="116" showBtn='false'></app-navbar>
    <div class="page-center">
        <div class="purple-title">Start your claim now</div>
        <div class="purple-title">it takes just 3 minutes</div>
        <div class="blue-title-bold" [style.marginTop.px]="12">You will need to know your address,</div>
        <div class="blue-title-bold">a few basic mortgage anf financial details.</div>
        <!-- <div class="flex-row-icons">
            <div><img src="assets/icons/"></div>
            <p>2</p>
            <p>3</p>
        </div> -->
        <div class="purple-title-bold" [style.marginTop.px]="36">Tell us about yourself</div>
        <!-- <div [formControl]="remortgageForm">

        </div>
         -->

    </div>
</div>
