<div class="home">
    <app-navbar img='assets/icons/claim.png' showBtn=false imgHeight="116"></app-navbar>
    <div class="main-con">
        <div class="main-img-con">
            <img src="assets/icons/background.png" width="100%" z-index='0' />
            <div class="overlay">hjksahsjkhskjhkj</div>
        </div>
    </div>
    <div class="text-area">
        <h1 class="light-title-big">Do you have an interest only mortgage?</h1>
        <h3 class="light-title-small">You may be entitled to compensation.</h3>
        <div class="eligible-card">
            <h3 class="light-title-med">Not sure if you'll be accepted?</h3>
            <app-button showBtn=true routerLink="form" text="Am I eligible?"></app-button>
            <div class="light-text-small-centered">Use our quick and easy Eligibility Checker to see
                if you claim money back from your mortgage
            </div>
            <div class="checks-container">
                <div class="check">
                    <img src="assets/icons/Tick.png" height="16px" />
                    <div class="check-text">No Obligation, free check</div>
                </div>
                <div class="check">
                    <img src="assets/icons/Tick.png" height="16px" />
                    <div class="check-text">This doesn't affect your credit score</div>
                </div>
            </div>
            <div class="tc-con">
                <img src="assets/icons/Padlock.png" height="16px" />
                <div class="tc-text">Claim your mis-calculated mortgage users 256-bit security</div>
            </div>
        </div>
    </div>
</div>