$green-gradient: linear-gradient(0deg, #00B418 0%, #00630D 100%);
$purple-gradient: linear-gradient(0deg,  #480B3F 0%,#963487 100%);
$green-gradient-B: #00B418;
$light-green: #359842;
$purple-gradient-A: #963487;
$purple-gradient-B: #480B3F;
$light-grey: #F3EFF3;
$dark-grey: #D2D2D2;
$blue: #0F2554;

$box-shadow: 3px 6px 8px -4px rgba(0,0,0,0.31);



